{% extends "base.html" %}

{% block menu %}
	<li><a href="{{url_for('knowledge.functional_knowledge')}}">Functional Knowledge</a></li>	
	<li><a href="{{url_for('knowledge.technical_knowledge')}}">Technical Knowledge</a></li>	
	<li><a href="{{url_for('knowledge.areas')}}">Areas</a></li>
	<li><a href="{{url_for('knowledge.codeGuardians')}}">Code Guardians</a></li>
	<li><a href="{{url_for('knowledge.update', areaID = 1)}}">Update</a></li>
{% endblock %}

{% block content %}
	{% block subcontent %}{% endblock %}
{% endblock %}