{% extends "knowledge/knowledge.html" %}

{% block subcontent %}
	
		<script>
		
			function saveFunctionalData(area, score) {
				var data = {area:area,score:score};
				
				$.ajax({
					url : "{{ url_for('knowledge.updateFunctionalPost')}}",
					type: "POST",
					data : data
				});
			
			};
		
			function saveTechnicalData(area, sub_area, language, score) {
				var data = {area:area,sub_area:sub_area,language:language,score:score};
				
				$.ajax({
					url : "{{ url_for('knowledge.updateTechnicalPost')}}",
					type: "POST",
					data : data
				});
			
			};
			
		</script>	
	
		<div>
			<table class="table table-bordered table-responsive knowledge-table">
				<caption>Functional Understanding</caption>
				<thead>
					<tr>
						<th>Score</th>
						<th>Definition</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>A</td>
						<td>Fully understand the business requirements that each functional area aims to fulfil</td>
					</tr>				
					<tr>
						<td>B</td>
						<td>Good understanding of a majority of the area (Possibly for just one client)</td>
					</tr>	
					<tr>
						<td>C</td>
						<td>Good understanding of a few aspects of the area</td>
					</tr>	
					<tr>
						<td>D</td>
						<td>Limited understanding of the area</td>
					</tr>	
					<tr>
						<td>E</td>
						<td>Know nothing about the functional area</td>
					</tr>						
				<tbody>
			</table>	

			<table class="table table-bordered table-responsive knowledge-table knowledge-table-right">
				<caption>Technical Understanding</caption>
				<thead>
					<tr>
						<th>Score</th>
						<th>Definition</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>1</td>
						<td>Actively helped design the code</td>
					</tr>				
					<tr>
						<td>2</td>
						<td>Made major code changes and aware of the majority of the code</td>
					</tr>	
					<tr>
						<td>3</td>
						<td>Made minor code changes and still have only a limited knowledge of the programs</td>
					</tr>	
					<tr>
						<td>4</td>
						<td>Seen the code but not a familiar area</td>
					</tr>	
					<tr>
						<td>5</td>
						<td>Never seen the code</td>
					</tr>						
				<tbody>
			</table>						
		</div>


		
		<div class="container centredrow">
			<div class="row">
				<div class="col-sm-6">
				{% if areaID > 1 %}<a class="previousb" href="{{url_for('knowledge.update', areaID = areaID - 1)}}">Previous</a> {% endif %} 
				</div>
				<div class="col-sm-6 right">		
				{% if areaID < areaCount %}<a class="nextb" href="{{url_for('knowledge.update', areaID = areaID + 1)}}">Next</a> {% endif %} 	
				</div>
			</div>
			<div clas="row">
				<br>
			</div>			
			<div>
				<form>		
					<div class="row background">
						<div class="col-sm-6">
					{% if area.area_wiki_link %}<a href="{{area.area_wiki_link}}">{% endif %}<h3 class="inline white">{{area.description}}</h3>{% if area.area_wiki_link %}</a>{% endif %} 
						</div>
					</div>
					<div clas="row">
						<br>
					</div>						
					<div class="row background">	
						<div class="col-sm-4">
						<h4>Functional Understanding<h4>
						</div>
					</div>							
					<div class="row background">
									
						<div class="col-sm-6">						
							<div class="form-group">
								<div class="btn-group" data-toggle="buttons">
									<label class="btn btn-default {% if area.score == 'A' %} active {% endif %} " onclick='saveFunctionalData({{area.area_id}}, "A")'>
										<input type="radio" value="A" /> A
									</label> 
									<label class="btn btn-default {% if area.score == 'B' %} active {% endif %} " onclick='saveFunctionalData({{area.area_id}}, "B")'>
										<input type="radio" value="B" /> B
									</label> 
									<label class="btn btn-default {% if area.score == 'C' %} active {% endif %} " onclick='saveFunctionalData({{area.area_id}}, "C")'>
										<input type="radio" value="C" /> C
									</label> 
									<label class="btn btn-default {% if area.score == 'D' %} active {% endif %} " onclick='saveFunctionalData({{area.area_id}}, "D")'>
										<input type="radio" value="D" /> D
									</label> 
									<label class="btn btn-default {% if area.score == 'E' %} active {% endif %} " onclick='saveFunctionalData({{area.area_id}}, "E")'>
										<input type="radio" value="E" /> E
									</label>
								</div>
							</div>
						</div>
						
					</div>
					<div clas="row">
						<br>
					</div>					
					<div class="row background">	
						<div class="col-sm-4">
						<h4>Technical Understanding<h4>
						</div>
					</div>
					<div class="row background">
				
						{% for column in area.sub_areas | slice(3) %}	
							<div class="col-sm-4">
							{% for subArea in column %}
								<h5>{{subArea.description}}</h5>
								{% for language in subArea.languages %}
							
								<div class="form-group">
									<div class="label">
									<label>{{language.description}}</label>		
									</div>
									<div class="btn-group" data-toggle="buttons">					
										<label class="btn btn-default {% if language.technical_rating == 1 %} active {% endif %} " onclick='saveTechnicalData({{area.area_id}}, {{subArea.sub_area_id}},{{language.id}}, 1)'>
											<input type="radio" value="1" /> 1
										</label> 
										<label class="btn btn-default {% if language.technical_rating == 2 %} active {% endif %}" onclick='saveTechnicalData({{area.area_id}}, {{subArea.sub_area_id}}, {{language.id}}, 2)'>
											<input type="radio" value="2" /> 2
										</label> 
										<label class="btn btn-default {% if language.technical_rating == 3 %} active {% endif %}" onclick='saveTechnicalData({{area.area_id}}, {{subArea.sub_area_id}}, {{language.id}}, 3)'>
											<input type="radio" value="3" /> 3
										</label> 
										<label class="btn btn-default {% if language.technical_rating == 4 %} active {% endif %}" onclick='saveTechnicalData({{area.area_id}}, {{subArea.sub_area_id}}, {{language.id}}, 4)'>
											<input type="radio" value="4" /> 4
										</label> 
										<label class="btn btn-default {% if language.technical_rating == 5 %} active {% endif %}" onclick='saveTechnicalData({{area.area_id}}, {{subArea.sub_area_id}}, {{language.id}}, 5)'>
											<input type="radio" value="5" /> 5
										</label>
									</div>
								</div>
								{% endfor %}
							{% endfor %}
							</div>
						{% endfor %} 				
						
					</div>	
				</form>
			</div>
		</div>	
	
{% endblock %}