

.btn-group {
	float: right;
}

.navbar {
	border-left-width: 0px;
	border-right-width: 0px;
	border-top-width: 0px;
}

.top {
	float: left;
}

.panel-group .panel{
	margin-bottom: 10px;
}

.panelsitcycle {
	display:none;
}

.panelteamleader {
	display:none;
}

.paneltestleader {
	display:none;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

.alert-warning {
	border-radius:0px;
}

/* File Browser */
 .dataTables_processing { 
font-size: 3em !important; 
position: absolute !important;
height: 100px !important;
top: 30% !important;
background:white !important;
z-index: 9999 !important;
}

#main_table_length{
	float: right;
}

#main_table_filter > label {
	margin-bottom: 20px;
	float: right;
}

/* Search Page */
.example{
	margin-left:20px;
	font-style: italic;
}

.input {
	width: 50% !important;
}

body > div:nth-child(5) > div:nth-child(1) > form > div > input {
	width:100%;
}

.leftmargin {
	margin-left:10px;
}

.rightmargin {
	margin-right:10px;
}

/* Project Detail */
.R {
	background-color:#e74c3c;
	border-radius:5px;
	padding:3px;
	margin:5px;
}

.A {
	background-color:#f39c12;
	border-radius:5px;
	padding:3px;
	margin:5px;
}

.G {
	background-color:#18bc9c;
	border-radius:5px;
	padding:3px;
	margin:5px;
}

.floatleft {
	display: inline-block;
}