
/*  dark: #0a2d41  light: #546b79;  orange: #ff6c00; */

body {
	background-color: #0a2d41;
	font-family: "ff-dax-web-pro","Lucida Sans Unicode","LucidaSans","Helvetica","Arial", "sans-serif";
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

.panel-group .panel-heading {
    color: white;
    background-color: transparent;
    padding: 8px;
}
			
.wrapper {
	position:absolute;
	top:30%;
	right:0;
	left:0;		
	vertical-align:middle;
	text-align:center;			
}

caption , h2{
	color: #ff6c00;
	text-align: center;
	font-size: 24px;
	padding: 8px; 
}

h4 {
	padding-bottom: 10px;
}

label {
	color: white;
}

.panel-body  {
    color: white;
}

.panel:hover{
    background-color: #ff6c00;
}

.panel{
    background-color: #546b79;
    border: 0px;
    padding: 8px;
}

a:-webkit-any-link{ 
	text-decoration:none; 
}

.navbar {
	background-color: #0a2d41;
	border-left-width: 0px;
	border-right-width: 0px;
	border-top-width: 0px;
	border-color: white;
}

.navbar-default .navbar-brand , .navbar-default .navbar-nav>li>a{
	color: #ff6c00;
}

.navbar-default .navbar-nav>li>a:hover{
	color: #ff6c00;
	background-color: white;
}

table {
	background-color: #546b79;
	width: 75% !important;
	color: white;
	margin: auto;
	display: block;
}

tbody>tr:hover:not(.nohover) {
	background-color: #ff6c00;
	cursor: pointer;
}

.navbar-brand:hover {
	color:#ff6c00 !important;
}

.form-inline {
    text-align: center;
}

.panelpriority {
	float: right;
}

.paddedspan {
	padding-left: 15px;
}

span {
	color: white;
}

.col-md-4 {
	display: flex;
	justify-content: center;
}

.jobhistory {
	width: 100%;
	height: 80%;
}

.form-group {
	padding-bottom: 10px;
}

.loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background: url('ajax-loader.gif') 50% 50% no-repeat;
	background-size: 100px 100px;
	z-index: 9999;
}