{% extends "jobs-base.html" %}{% block content %}
	
		<div class="row">

			<div class="col-md-4"> 			
				<table class="table table-bordered table-responsive">
					<caption>Jobs By Priority</caption>
					<thead>
						<tr>
							<th>Priority</th>
							<th>Number of Jobs</th>
						</tr>
					</thead>
					<tbody>
						{% for priority in priorityList %}
						<tr data-href="{{url_for('job_list', priority = 'P' + priority.level)}}">
							<td>P{{priority.level}}</td>
							<td>{{priority.numberOfJobs}}</td>
						</tr>
						{% endfor %}						
					<tbody>
					<tfoot>
						<tr>
							<td>Total</td>
							<td>{{total}}</td>
						</tr>
					</tfoot>
				</table>

			</div>
			
			<div class="col-md-4">
			
				<table class="table table-bordered table-responsive">
					<caption>Jobs By Status</caption>
					<thead>
						<tr>
							<th>Status</th>
							<th>Number of Jobs</th>
						</tr>
					</thead>
					<tbody>
						{% for status in statusList %}
						<tr data-href="{{url_for('job_list', status = status.name)}}">
							<td>{{status.name}} </td>
							<td>{{status.numberOfJobs}} </td>
						</tr>	
						{% endfor %}
					<tbody>
					<tfoot>
					</tfoot>
				</table>			
			
			</div>			

			<div class="col-md-4">
			
				<table class="table table-bordered table-responsive">
					<caption>Jobs By Time Period</caption>
					<tbody>
						<tr class="nohover">
							<td>Opened This Month</td>
							<td>{{monthlyJobsOpened}} </td>
						</tr>	
						<tr class="nohover">
							<td>Closed This Month</td>
							<td>{{monthlyJobsClosed}} </td>
						</tr>	
						<tr class="nohover">
							<td>Average Resolution This Month</td>
							<td>{{monthlyAverageResolution}} </td>
						</tr>							
						<tr class="nohover">
							<td>Opened This Quarter</td>
							<td>{{quarterlyJobsOpened}} </td>
						</tr>	
						<tr class="nohover">
							<td>Closed This Quarter</td>
							<td>{{quarterlyJobsClosed}} </td>
						</tr>	
						<tr class="nohover">
							<td>Average Resolution This Quarter</td>
							<td>{{quarterlyAverageResolution}} </td>
						</tr>						
					<tbody>
				</table>			
		
			</div>			
			
		</div>		
		
		<div class="row">
			<div class="col-md-4" id="jobsByClient"></div>
			<div class="col-md-4" id="jobsByPriority"></div>
			<div class="col-md-4" id="jobsByArea"></div>		
		</div>

<script>
clickableRowListener = function(that, e) {
    var url = $(that).parent().data("href") || $(that).parent().find("a").attr("href");
    if (url) {window.open(url,"_self")}
        
    };

 
// Onload: Add eventlistener
$('tr td').on('mousedown', function (e) {
    clickableRowListener(this, e);
});


var jobsByArea = new d3pie("jobsByArea", {
	"header": {"title": {"text": "Jobs By Area","color": "#ff6c00","fontSize": 24,"font": "Lucida Sans Unicode"}, 
	         "location": "top-center"},
	"size": {"canvasWidth": $( window ).width()/3.5,"pieInnerRadius": "25%","pieOuterRadius": "100%"},
	"data": {"sortOrder": "value-desc","smallSegmentGrouping": {"enabled": true,"value": 3},
		     "content": [{% for area in areaList %}{"label": "{{area.functionalArea}}","value": {{area.numberOfJobs}} },{% endfor %} ]},
	"labels": {"outer": {"format": "none"},
		       "inner": {"format": "label", "hideWhenLessThanPercentage": 3},
		       "mainLabel": {"color": "#ffffff","fontSize": 16},
		       "percentage": {"color": "#ffffff","decimalPlaces": 0},
		       "value": {"color": "#adadad","fontSize": 16},
		       "lines": {"enabled": true}},
	"tooltips": {"enabled": true,"type": "placeholder","string": "{value}"},
	"effects": {"pullOutSegmentOnClick": {"effect": "linear","speed": 400,"size": 8}},
	"misc": {"gradient": {"enabled": true,"percentage": 100}, "colors": {"segmentStroke": "#0a2d41"}},
	"callbacks": { onClickSegment: function(a) {window.open("/jobs/joblist?functionalarea=" + a.data.label,"_self");}}
});

var jobsByPriority = new d3pie("jobsByPriority", {
	"header": {"title": {"text": "Jobs By Priority","color": "#ff6c00","fontSize": 24,"font": "Lucida Sans Unicode"},
	           "location": "top-center"},
	"size": {"canvasWidth": $( window ).width()/3.5, "pieInnerRadius": "25%","pieOuterRadius": "100%"},
	"data": {"sortOrder": "label-asc","smallSegmentGrouping": {"enabled": false,"value": 10},
		     "content": [{% for priority in priorityList %}{"label": "P{{priority.level}}","value": {{priority.numberOfJobs}} },{% endfor %} ]},
	"labels": {"outer": {"format": "none"},
		       "inner": {"format": "label", "hideWhenLessThanPercentage": 3},
		       "mainLabel": {"color": "#ffffff","fontSize": 16},
		       "percentage": {"color": "#ffffff","decimalPlaces": 0},
		       "value": {"color": "#adadad","fontSize": 16},
		       "lines": {"enabled": true}},
	"tooltips": {"enabled": true,"type": "placeholder","string": "{value}"},
	"effects": {"pullOutSegmentOnClick": {"effect": "linear","speed": 400,"size": 8}},
	"misc": {"gradient": {"enabled": true,"percentage": 100}, "colors": {"segmentStroke": "#0a2d41"}},
	"callbacks": { onClickSegment: function(a) {window.open("/jobs/joblist?priority=" + a.data.label,"_self");}}
});

var jobsByClient = new d3pie("jobsByClient", {
	"header": {"title": {"text": "Jobs By Client","color": "#ff6c00","fontSize": 24,"font": "Lucida Sans Unicode"},
	           "subtitle": {"text": " ", "color": "#0a2d41","fontSize": 14,"font": "arial"}, "location": "top-center", "titleSubtitlePadding": 4},
	"size": {"canvasWidth": $( window ).width()/3.5,"pieInnerRadius": "25%","pieOuterRadius": "100%"},
	"data": {"sortOrder": "value-desc","smallSegmentGrouping": {"enabled": true,"value": 3},
		     "content": [{% for client in clientList %}{"label": "{{client.name}}","value": {{client.numberOfJobs}} },{% endfor %} ]},
	"labels": {"outer": {"format": "none"},
		       "inner": {"format": "label", "hideWhenLessThanPercentage": 3},
		       "mainLabel": {"color": "#ffffff","fontSize": 16},
		       "percentage": {"color": "#ffffff","decimalPlaces": 0},
		       "value": {"color": "#adadad","fontSize": 16},
		       "lines": {"enabled": true}},
	"tooltips": {"enabled": true,"type": "placeholder","string": "{value}"},
	"effects": {"pullOutSegmentOnClick": {"effect": "linear","speed": 400,"size": 8}},
	"misc": {"gradient": {"enabled": true,"percentage": 100}, "colors": {"segmentStroke": "#0a2d41"}},
	"callbacks": { onClickSegment: function(a) {window.open("/jobs/joblist?client=" + a.data.label,"_self");}}
});


 function autoRefresh()
{
	   window.location.reload();
}
 
 setInterval('autoRefresh()', 120000); // this will reload page after every 2 minutes

</script>

{% endblock %}