{% extends "jobs.html" %}{% block content %}

<h2>Open Job Count History (P1/P2)</h2>

<div id="jobhistory" class="jobhistory"></div>
<div class="loader"></div>

<script type="text/javascript">
    google.load('visualization', '1.1', {packages: ['corechart']});
    google.setOnLoadCallback(drawChart);

	function drawChart() {

		$.ajax({
			url: "/jobs/history_chart",
			dataType: "json",
			success: function (json) {

				for (var i = 0; i < json.rows.length; i++) {
					json.rows[i].c[0].v = new Date(json.rows[i].c[0].v.substring(0,4), Number(json.rows[i].c[0].v.substring(5,7)) - 1, json.rows[i].c[0].v.substring(8,10)) ; 
				};
				
				var data = new google.visualization.DataTable(json);

				var options = {
					chart: {
					  title: 'FST Job History'
					},
					backgroundColor: { fill:'transparent' },
					width: $( window ).width,
					height: $( window ).height,
					series: { 0: { color: '#ff6c00' } },
					hAxis: { textStyle:{color: 'white'}, baselineColor: 'white', gridlineColor: 'white'},
					vAxis: { textStyle:{color: 'white'}, baselineColor: 'white', gridlineColor: 'white'},
					legend:{textStyle:{color: 'white'}},
				};

				var chart = new google.visualization.LineChart(document.getElementById('jobhistory'));

				$(".loader").hide();
				
			  chart.draw(data, options);
						}
		});
	}	
  </script>		

{% endblock %}