{% extends "base.html" %}{% block content %}
	
		<script>
		
			function saveFunctionalData(area, score) {
				var data = {area:area,score:score};
				
				$.ajax({
					url : "{{ url_for('knowledgeUpdateFunctionalPost')}}",
					type: "POST",
					data : data
				});
			
			};
		
			function saveTechnicalData(area, language, score) {
				var data = {area:area,language:language,score:score};
				
				$.ajax({
					url : "{{ url_for('knowledgeUpdateTechnicalPost')}}",
					type: "POST",
					data : data
				});
			
			};
			
		</script>	
	
		<div class="container centredrow">
			<form>
				{% for area in areaList %}
				<h3>{{area.description}}</h3>
				<div class="row">
								
					<div class="col-sm-6">
						<h4>Functional Understanding<h4>
						<div class="form-group">
							<div class="btn-group" data-toggle="buttons">
								<label class="btn btn-default {% if area.score == 'A' %} active {% endif %} " onclick='saveFunctionalData({{area.id}}, "A")'>
									<input type="radio" id="{{area.id}}1" name="{{area.id}}F" value="A" /> A
								</label> 
								<label class="btn btn-default {% if area.score == 'B' %} active {% endif %} " onclick='saveFunctionalData({{area.id}}, "B")'>
									<input type="radio" id="{{area.id}}2" name="{{area.id}}F" value="B" /> B
								</label> 
								<label class="btn btn-default {% if area.score == 'C' %} active {% endif %} " onclick='saveFunctionalData({{area.id}}, "C")'>
									<input type="radio" id="{{area.id}}3" name="{{area.id}}F" value="C" /> C
								</label> 
								<label class="btn btn-default {% if area.score == 'D' %} active {% endif %} " onclick='saveFunctionalData({{area.id}}, "D")'>
									<input type="radio" id="{{area.id}}4" name="{{area.id}}F" value="D" /> D
								</label> 
								<label class="btn btn-default {% if area.score == 'E' %} active {% endif %} " onclick='saveFunctionalData({{area.id}}, "E")'>
									<input type="radio" id="{{area.id}}5" name="{{area.id}}F" value="E" /> E
								</label>
							</div>
						</div>
					</div>
					
					<div class="col-sm-6 align-right">
						<h4>Technical Understanding<h4>
						{% for language in area.languages %}
						<div class="form-group">
							<label for="G{{area.id}}{{language.id}}">{{language.description}}</label>						
							<div class="btn-group" name="G{{area.id}}{{language.id}}" data-toggle="buttons">					
								<label class="btn btn-default {% if language.score == 1 %} active {% endif %} " onclick='saveTechnicalData({{area.id}}, {{language.id}}, 1)'>
									<input type="radio" id="{{area.id}}{{language.id}}1" name="{{area.id}}{{language.id}}" value="1" /> 1
								</label> 
								<label class="btn btn-default {% if language.score == 2 %} active {% endif %}" onclick='saveTechnicalData({{area.id}}, {{language.id}}, 2)'>
									<input type="radio" id="{{area.id}}{{language.id}}2" name="{{area.id}}{{language.id}}" value="2" /> 2
								</label> 
								<label class="btn btn-default {% if language.score == 3 %} active {% endif %}" onclick='saveTechnicalData({{area.id}}, {{language.id}}, 3)'>
									<input type="radio" id="{{area.id}}{{language.id}}3" name="{{area.id}}{{language.id}}" value="3" /> 3
								</label> 
								<label class="btn btn-default {% if language.score == 4 %} active {% endif %}" onclick='saveTechnicalData({{area.id}}, {{language.id}}, 4)'>
									<input type="radio" id="{{area.id}}{{language.id}}4" name="{{area.id}}{{language.id}}" value="4" /> 4
								</label> 
								<label class="btn btn-default {% if language.score == 5 %} active {% endif %}" onclick='saveTechnicalData({{area.id}}, {{language.id}}, 5)'>
									<input type="radio" id="{{area.id}}{{language.id}}5" name="{{area.id}}{{language.id}}" value="5" /> 5
								</label>
							</div>
						</div>
						{% endfor %} 
					</div>					
					
				</div>
				{% endfor %} 	
			</form>
		</div>	
	
{% endblock %}