{% extends "base.html" %}{% block content %}

	<div class="wrapper">
		
		<div class="container">
			<form  method="POST" action="{{url_for('base.login', url=url)}}" >
				<h2>Please enter your Tracey username and password</h2>
				{{form.csrf_token}}
			  <div class="form-group">
				{{ form.username.label }}
				{{ form.username(class_='form-control') }}
			  </div>
			  <div class="form-group">
				{{ form.password.label }}
				{{ form.password(class_='form-control') }}
			  </div>
			  <button type="submit" class="btn btn-default">Submit</button>
			</form>
		</div>
	</div>
	
{% endblock %}