{% extends "base.html" %}{% block header %}
	
		<div class="navbar navbar-default navbar-fixed-top" >
			<div class="navbar-inner">		
				<div class="nav-collapse">
					<ul class="nav navbar-nav">
						<li class="dropdown">
						  <a class="dropdown-toggle" data-toggle="dropdown">Projects<b class="caret"></b></a>
						  <ul class="dropdown-menu">
							<li><a href="{{ url_for('overview')}}">FST Jobs</a></li>  
							<li><a href="{{ url_for('releases')}}">Releases</a></li> 							
							<li><a href="{{ url_for('projectDetail', projectCode = 'Overview')}}">Projects</a></li>
						  </ul>
						</li>
					</ul>
				</div>					
			</div>	
		</div>

		<div class="navbar navbar-default" >
		</div>
		
		{% block content %}{% endblock %}
		
{% endblock %}